<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Chat</title>
    <link rel="stylesheet" href="/css/styles-game.css">

    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.6/dist/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script type="module" src="/js/script-guess.js" defer></script>
    
</head>
<body>
    <div class="chat-container">

        <div class="chat-header">
            <h1>Devine le mot</h1>
            <button onclick="window.location.href='/exerciseSelection.html'" class="back-btn" style="margin-top:10px;">Retour au menu</button>
        </div>

        <div class="chat-box" id="chatBox">
        </div>

        <div id="wordToGuess">
        </div>

        <div class="input-area">
            <textarea type="text" id="userInput" placeholder="Tapez votre message ici..."></textarea>
            <button type="submit" id="sendButton">Envoyer</button>
        </div>

    </div>
    
</body>
</html>